.photoGrid {
    margin-top: 5%;
    display: grid;
    gap: 1.2em;
}
  
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
.gridItem {
    text-align: center;
}
  
.gridItem img {
    width: 90%;
    height: 90%;
}
  
.gridItem p {
    margin-top: 0px;
    margin-bottom: 0;
}
  