.photoGrid {
    margin-top: -2em;
    display: grid;
    gap: 1.2em;
}
  
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.gridItem {
    text-align: center;
}
  
.gridItem p {
    margin-top: 0px;
    margin-bottom: 0;
}
  
.horizontal {
    width: 90%;
}

.vertical {
    width: 80%;
}