.all {
    font-size: 1.8vh;
}

.intro {
    margin-top: 12%;
}

.images {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.image1 {
    width: 60%;
    margin-left: 20%;
    margin-right: 0;
}

