.year1 {
    margin-top: 10%;
}

.year1, .year {
    margin-right: 10%;
    padding-left: 1%;
    background-color: black;
    color: white;
    font-size: 1.2em;
}

.project {
    margin-right: 10%;
    margin-left: 1%;
    margin-bottom: 0;
    margin-top: -0.2%;
    text-decoration: underline;
}

.project:hover {
    cursor: pointer;
    font-style: italic;
}