.main {
    width: 90%;
    margin-right: 10%;
    font-family: 'Inconsolata', serif;
    padding-left: 0%;
    letter-spacing: -0.1em;
    height: 100vh;
    margin-top: -1.5%;
}

.headerComponent {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    height: 5em;
    font-size: 1em;
}

.headerLeft {
    width: 80%;
}

.header {
    font-size: 1.2em;
    margin-bottom: 0;
}

.tools {
    margin-top: 1%;
    margin-bottom: 0;
}

.github {
    color: black;
    margin-top: 1%;
}

.home {
    margin-top: 10%;
    letter-spacing: -0.1em;
    font-size: 1em;
    text-decoration: underline;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
}

.home, .left, .right {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

.left, .right {
    font-size: 1.5em;
    width: 45%;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.arrowTextLeft {
    text-align: left;
    font-size: 0.6em;
    width: 90%;
    height: 100%;
}

.arrowTextRight {
    text-align: right;
    font-size: 0.6em;
    width: 90%;
    height: 100%;
}

.arrowIcon {
    margin-top: -3.5%;
    width: 10%;
}

.projectElement {
    height: 73%;
    margin-top: 1em;
    margin-bottom: 5%;
    border: 1px solid white;
}